.form_patient .firstPart,
.form_patient .secondPart {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.form_patien .systemicAnalysisAccordion {
	display: flex;
	flex-direction: column;
	gap: 18px;
}

.form_patien .btn_group {
	display: flex;
	justify-content: center;
	gap: 32px;
}

@media (width >= 768px) {
	.form_patien .firstPart,
	.form_patien .secondPart {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.form_patien .systemicAnalysisAccordion {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (width >= 1024px) {
	.form_patien .firstPart {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
	.form_patien .secondPart {
		grid-template-columns: repeat(4, 1fr);
	}

	.form_patien .teethFirstRow {
		gap: 32px;
	}

	.form_patien .teethFirstRow_row {
		gap: 18px 32px;
	}
}
