.main {
	margin: 1rem auto;
	max-width: 1280px;
	padding: 32px 16px;
}

.main .title {
	margin-bottom: 24px;
}

.main .form {
	display: grid;
	gap: 24px;
	background-color: var(--background-color-3);
	padding: 24px;
	border-radius: 4px;
	width: 100%;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
		0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.main .form .inputs_section {
	display: grid;
	gap: 24px;
}

.main .form .inputs_section .drap_drop_content {
	border: 1px solid var(--color-text-900);
	border-radius: 4px;
	padding: 14px;
	display: flex;
	gap: 16px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.main .form .inputs_section .drap_drop_content.is_dragging {
	border-style: dashed;
}

.main .form .inputs_section .drap_drop_content .upload_title {
	text-align: center;
	font-size: 18px;
}

.main .form .inputs_section .drap_drop_content .input_file {
	display: none;
}

.main .form .btn_group {
	display: flex;
	justify-content: center;
	gap: 32px;
}

.main .loading_section .loading_title {
	font-size: 20px;
	margin-bottom: 24px;
	text-align: center;
}

.main .images {
	display: flex;
	gap: 24px;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: start;
	margin-top: 24px;
}
.main .images .images_content {
	position: relative;
}

.main .images .content_img {
	max-width: 100%;
}

.main .images .delete_button {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 1;
}

@media (width >= 768px) {
	.main .inputs_section {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.main .images .content_img {
		width: calc(50% - 20px);
		max-width: 300px;
	}

	.main .images .delete_button {
		top: 5px;
		right: 20px;
	}
}

@media (min-width: 1024px) {
	.main .images .content_img {
		width: calc(100% - 30px);
	}
}
