.add_x_rays_page-main .main-title {
	margin-bottom: 24px;
}

.add_x_rays_page-main .main-form {
	display: grid;
	gap: 24px;
	background-color: var(--background-color-3);
	padding: 24px;
	border-radius: 4px;
	width: 100%;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
		0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.add_x_rays_page-main .main-form .form-inputs_section {
	display: grid;
	gap: 24px;
}

.add_x_rays_page-main .main-form .form-inputs_section .drap_drop-content {
	border: 1px solid var(--color-text-900);
	border-radius: 4px;
	padding: 14px;
	display: flex;
	gap: 16px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.add_x_rays_page-main .main-form .form-inputs_section .drap_drop-content.isDragging {
	border-style: dashed;
}

.add_x_rays_page-main .main-form .form-inputs_section .drap_drop-content .content-title {
	text-align: center;
	font-size: 18px;
}

.add_x_rays_page-main .main-form .form-inputs_section .drap_drop-content .content-input_file {
	display: none;
}

.add_x_rays_page-main .main-form .btn_group {
	display: flex;
	justify-content: center;
	gap: 32px;
}

.add_x_rays_page-main .main-loading .loading-title {
	font-size: 20px;
	margin-bottom: 24px;
	text-align: center;
}

.add_x_rays_page-main .main-images {
	display: flex;
	gap: 24px;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: start;
	margin-top: 24px;
}
.add_x_rays_page-main .main-images .images-content {
	position: relative;
}

.add_x_rays_page-main .main-images .content-img {
	max-width: 100%;
}

.add_x_rays_page-main .main-images .content-delete_button {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 1;
}

@media (width >= 768px) {
	.add_x_rays_page-main .form-inputs_section {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.add_x_rays_page-main .main-images .content-img {
		width: calc(50% - 20px);
		max-width: 300px;
	}

	.add_x_rays_page-main .main-images .content-delete_button {
		top: 5px;
		right: 20px;
	}
}

@media (min-width: 1024px) {
	.add_x_rays_page-main .main-images .content-img {
		width: calc(100% - 30px);
	}
}
