.main {
	margin: 0 auto;
	max-width: 1280px;
	padding: 32px 16px;
}

.main > * + * {
	margin-top: 1rem;
}

h1 {
	display: block;
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	gap: 18px;
	width: 100%;
}

.firstPart,
.secondPart {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.systemicAnalysisAccordion {
	display: flex;
	flex-direction: column;
	gap: 18px;
}

.btn_group {
	display: flex;
	justify-content: center;
	gap: 32px;
}

@media (width >= 768px) {
	.firstPart,
	.secondPart {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.systemicAnalysisAccordion {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (width >= 1024px) {
	.firstPart {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
	.secondPart {
		grid-template-columns: repeat(4, 1fr);
	}

	.teethFirstRow {
		gap: 32px;
	}

	.teethFirstRow_row {
		gap: 18px 32px;
	}
}
