:root {
	/* Backgrounds color	 */
	--background-first: hsl(0, 0%, 100%);
	--background-secundary: hsl(0, 0%, 92%);
	--background-third: hsl(0, 0%, 90%);

	--background-color-1: #18191b;
	--background-color-2: #1f2023;
	--background-color-3: #27292d;

	/* Text color */
	--paragrap: #f3f3f0;
	--header-3: #bbbbb3;
	--header-2: #e8e8e1;
	--header-1: #f3f3f0;

	/* Color text */
	--color-text-100: #f2f2f2;
	--color-text-200: hsl(0, 0%, 92%);
	--color-text-300: hsl(0, 0%, 90%);
	--color-text-400: hsl(0, 0%, 87%);
	--color-text-500: #d9d9d9;
	--color-text-600: hsl(0, 0%, 83%);
	--color-text-700: hsl(0, 0%, 80%);
	--color-text-800: hsl(0, 0%, 77%);
	--color-text-900: #bfbfbf;

	/* Principal color */
	--base-100: #cafaec;
	--base-200: #96f6e2;
	--base-300: #5fe5d4;
	--base-400: #37ccc5;
	--base-500: #05a3aa;
	--base-600: #038092;
	--base-700: #02617a;
	--base-800: #014562;
	--base-900: #003251;

	/* Success color */
	--success-100: #effbce;
	--success-200: #dbf7a0;
	--success-300: #bbe76d;
	--success-400: #97cf46;
	--success-500: #6aaf15;
	--success-600: #53960f;
	--success-700: #3f7d0a;
	--success-800: #2e6506;
	--success-900: #215304;

	/* Danger color */
	--danger-100: #fde2d5;
	--danger-200: #fcbfac;
	--danger-300: #f69381;
	--danger-400: #ed6a60;
	--danger-500: #e22f32;
	--danger-600: #c22233;
	--danger-700: #a21732;
	--danger-800: #830e2f;
	--danger-900: #6c092d;
}

* {
	font-family: 'Inter', sans-serif;
	box-sizing: border-box;
}

body {
	background-color: var(--background-color-2);
	color: var(--paragrap);
	margin: 0;
	padding: 0;
	min-height: 100vh;
	font-size: 14px;
}

a {
	color: var(--color-text-400);
	text-decoration: none;
}

a:hover {
	color: var(--color-text-800);
}

.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium {
	color: var(--color-text-400);
}

.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium:hover {
	color: var(--color-text-800);
}

h1,
h2 {
	margin: 0;
}

h1 {
	font-size: 36px;
	font-weight: 700;
	color: var(--header-1);
}

h2 {
	font-size: 24px;
	font-weight: 600;
	color: var(--header-2);
}

ul {
	padding: 0;
	margin: 0;
}

.info_data_big.info_data {
	align-items: start;
	flex-direction: column;
}

.info_data_big .info {
	font-weight: 500;
	margin: 0;
}

.info_data .info.info_big p {
	margin: 0;
}

.layout {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	min-height: 100vh;
	gap: 24px;
}

.MuiFormControl-root.input-select {
	min-width: 150px;
}

.MuiContainer-root.MuiContainer-maxWidthXl {
	flex: 1;
}

/*
	Tables
*/
.MuiPaper-root.MuiTableContainer-root {
	background-color: var(--background-color-3);
	color: var(--paragrap);
	border-radius: 4px;
	box-shadow: none;
	animation-duration: 1.5s;
	animation-name: slidein;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
		0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.MuiPaper-root.MuiTableContainer-root .MuiTableRow-root.MuiTableRow-head {
	background-color: var(--background-color-3);
}

.MuiPaper-root.MuiTableContainer-root .MuiTableRow-root.MuiTableRow-head .MuiTableCell-head {
	color: var(--header-1);
	font-size: 16px;
	font-weight: 700;
	border-bottom: none;
}

.MuiTableRow-root .MuiTableCell-root.MuiTableCell-body {
	font-size: 14px;
	color: var(--paragrap);
}
.MuiTableRow-root:hover {
	background-color: var(--background-color-2);
}

.MuiTableRow-root .MuiTableCell-root.MuiTableCell-body p {
	margin: 4px 0;
}

.MuiTableRow-root .MuiTableCell-root.MuiTableCell-body a button,
.MuiTableRow-root .MuiTableCell-root.MuiTableCell-body a {
	color: var(--color-text-500);
	font-size: 14px;
	text-decoration: none;
	font-weight: 600;
}

.MuiTableRow-root .MuiTableCell-root.MuiTableCell-body a button:hover,
.MuiTableRow-root .MuiTableCell-root.MuiTableCell-body a:hover {
	color: var(--color-text-900);
}

.MuiTable-root
	.MuiTableFooter-root
	.MuiTableRow-root.MuiTableRow-footer
	.MuiTableCell-root.MuiTableCell-footer {
	border: none;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
		0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.MuiTable-root
	.MuiTableFooter-root
	.MuiTableRow-root.MuiTableRow-footer
	.MuiTableCell-root.MuiTableCell-footer
	.MuiToolbar-root.MuiToolbar-gutters {
	color: var(--paragrap);
}
.MuiTable-root
	.MuiTableFooter-root
	.MuiTableRow-root.MuiTableRow-footer
	.MuiTableCell-root.MuiTableCell-footer
	.MuiToolbar-root.MuiToolbar-gutters
	.MuiButtonBase-root {
	color: var(--paragrap);
}

.MuiTable-root
	.MuiTableFooter-root
	.MuiTableRow-root.MuiTableRow-footer
	.MuiTableCell-root.MuiTableCell-footer
	.MuiToolbar-root.MuiToolbar-gutters
	.MuiButtonBase-root.Mui-disabled {
	color: var(--paragrap);
	opacity: 0.5;
}

.MuiTable-root
	.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.MuiSelect-icon.MuiTablePagination-selectIcon.MuiSelect-iconStandard {
	color: var(--paragrap);
}

/* 
	Breadcrumbs
*/

.MuiBreadcrumbs-ol a,
.MuiBreadcrumbs-ol p {
	margin: 0;
	font-size: 14px;
}

/* 
	Inputs
*/

.MuiFormControl-root.MuiTextField-root
	.MuiOutlinedInput-root.MuiInputBase-root.MuiInputBase-multiline
	textarea {
	width: 100%;
	height: 100% !important;
	overflow-y: auto !important;
	min-height: 100px;
}

.MuiInputBase-input.MuiOutlinedInput-input.Mui-disabled {
	color: #d9d9d9;
	-webkit-text-fill-color: #d9d9d9;
}

/* 
	Dialog
*/

.MuiDialog-paper.MuiDialog-paperScrollPaper {
	padding: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 24px;
	background-color: var(--background-color-1);
	color: var(--color-text-500);
}
