.main {
	margin: 1rem auto;
	max-width: 1280px;
	padding: 32px 16px;
}

.main .header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	margin-bottom: 30px;
}

.content {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.content .article {
	padding: 24px;
	border-radius: 4px;
	background-color: var(--background-color-3);
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
		0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.content .article .header {
	display: flex;
	justify-content: space-between;
}

.content .article .article_description p {
	margin: 0;
}

.content .article .photos {
	display: flex;
	gap: 26px;
	flex-wrap: wrap;
	align-items: start;
	margin-top: 24px;
}

.content .article .photos .photo {
	width: 100%;
	cursor: pointer;
	transition: transform 0.5s ease-in-out;
}

.main .main_btn-group {
	display: flex;
	justify-content: center;
	margin-top: 42px;
	gap: 24px;
}

.delete_dialog .btn_group {
	display: flex;
	gap: 24px;
}

@media (width >= 768px) {
	.main .header {
		flex-direction: row;
		justify-content: space-between;
	}

	.content .article .photos .photo {
		width: calc(75% - 20px);
		max-width: 300px;
	}
}

@media (min-width: 1024px) {
	.content .article .photos .photo {
		width: calc(33.333% - 20px);
		max-width: 400px;
	}

	.content .article .photos .photo:hover {
		transform: scale(1.05);
	}
}
