.main {
	margin: 0 auto;
	max-width: 1280px;
	padding: 32px 16px;
}

.main > * + * {
	margin-top: 1rem;
}

h1 {
	display: block;
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	gap: 18px;
	width: 100%;
}

.firstPart,
.secondPart {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.systemicAnalysisAccordion {
	display: flex;
	flex-direction: column;
	gap: 18px;
}

.btn_group {
	display: flex;
	justify-content: center;
	gap: 32px;
}

@media (width >= 768px) {
	.firstPart,
	.secondPart {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.systemicAnalysisAccordion {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (width >= 1024px) {
	.firstPart {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
	.secondPart {
		grid-template-columns: repeat(4, 1fr);
	}

	.teethFirstRow {
		gap: 32px;
	}

	.teethFirstRow_row {
		gap: 18px 32px;
	}
}

/* 
New design
*/

.toothbutton {
	position: relative;
	width: 75px;
	height: 75px;
}

.toothbutton .toothbuttonNumber {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 0;
}

.toothbutton .palatina {
	position: absolute;
	top: 0;
	left: 15%;
	width: 70%;
	height: 20px;
	padding: 0;
	min-width: 0;
	border-bottom-left-radius: 60%;
	border-bottom-right-radius: 60%;
}

.mesial {
	position: absolute;
	top: 20%;
	left: 0;
	height: 60%;
	padding: 0;
	min-width: 20px;
	border-top-right-radius: 60%;
	max-width: 0;
	border-bottom-right-radius: 60%;
}

.distal {
	position: absolute;
	right: 0;
	top: 20%;
	height: 60%;
	padding: 0;
	min-width: 20px;
	max-width: 0;
	border-bottom-left-radius: 60%;
	border-top-left-radius: 60%;
}

.vestibular {
	position: absolute;
	left: 15%;
	bottom: 0;
	width: 70%;
	height: 20px;
	padding: 0;
	min-width: 0;
	border-top-left-radius: 60%;
	border-top-right-radius: 60%;
}

.oclusal {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 30px;
	height: 30px;
	padding: 0;
	min-width: 0;
}
