.teethform_main .main_title {
	text-align: center;
	margin-bottom: 24px;
}
.teethform_main .main_teethForm {
	background-color: var(--background-color-3);
	border-radius: 4px;
	width: 100%;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
		0px 1px 3px 0px rgba(0, 0, 0, 0.12);
	padding-bottom: 24px;
}

.teethform_main .main_teethForm .optionsTeethForm {
	padding: 24px 24px;
}

.teethform_main .main_lastform {
	display: flex;
	flex-direction: column;
	background-color: var(--background-color-3);
	padding: 24px;
	border-radius: 4px;
	width: 100%;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
		0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.teethform_main .main_lastform .lastform_title {
	margin-bottom: 24px;
}

.teethform_main .main_lastform .lastform_form {
	display: flex;
	flex-direction: column;
}

.teethform_main .main_lastform .lastform_form > * {
	margin-bottom: 18px;
}

.teethform_main .btn_group {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

@media (width >= 768px) {
	.teethform_main .btn_group {
		justify-content: center;
		align-items: center;
		flex-direction: row;
	}

	.teethform_main .main_lastform .lastform_form {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 24px;
		margin-bottom: 24px;
	}

	.teethform_main .main_lastform .lastform_form > * {
		margin-bottom: 0;
	}
}
