.teethform_main {
	margin: 0 auto;
	max-width: 1280px;
	padding: 32px 16px;
}

.teethform_main .main_title {
	text-align: center;
}

.teethform_main .main_lastform {
	display: flex;
	flex-direction: column;
}

.teethform_main .main_lastform .lastform_title {
	margin-bottom: 24px;
}

.teethform_main .main_lastform .lastform_form {
	display: flex;
	flex-direction: column;
}

.teethform_main .main_lastform .lastform_form > * {
	margin-bottom: 18px;
}

.teethform_main .btn_group {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

@media (width >= 768px) {
	.teethform_main .btn_group {
		justify-content: center;
		align-items: center;
		flex-direction: row;
	}

	.teethform_main .main_lastform .lastform_form {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 24px;
		margin-bottom: 24px;
	}

	.teethform_main .main_lastform .lastform_form > * {
		margin-bottom: 0;
	}

	.teethform_main .main_lastform .lastform_form .MuiFormControl-root {
	}
}
