.update-appointment-page_main {
	margin: 1rem auto;
	max-width: 1280px;
	padding: 32px 16px;
}

.main_form {
	display: flex;
	flex-direction: column;
	gap: 24px;
}
.update-appointment-page_main .main_form .form_odontograma {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin-bottom: 24px;
}

.main_form .form_reason-change,
.main_form .form_odontograma,
.main_form .form_content {
	background-color: var(--background-color-3);
	padding: 24px;
	border-radius: 4px;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
		0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.main_form .form_reason-change .reason-change_inputs,
.main_form .form_reason-change,
.main_form .form_content {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.main_form .btn_group {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

@media (width >= 768px) {
	.main_form .form_reason-change .reason-change_inputs,
	.main_form .form_content {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.main_form .btn_group {
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}
}
