@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #fcfcfc;
	color: #333333;
}

.tooth-checkbox-label {
	width: 0px;
	height: 0px;
	display: block;
	border-right: 70px solid transparent;
	border-left: 70px solid transparent;
	border-top: 100px solid #5cb85c;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
}

.pizza {
	position: relative;
	width: 300px; /* ajusta el tamaño de la pizza */
	height: 300px; /* ajusta el tamaño de la pizza */
	border-radius: 50%;
	background-color: #f5deb3; /* color de la masa */
	overflow: hidden;
}

.slice {
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 150px 300px 150px; /* ajusta el tamaño y la forma de las porciones */
	border-color: transparent transparent transparent transparent;
}

.slice:nth-child(1) {
	transform: rotate(45deg);
}

.slice:nth-child(2) {
	transform: rotate(135deg);
}

.slice:nth-child(3) {
	transform: rotate(225deg);
}

.slice:nth-child(4) {
	transform: rotate(315deg);
}
