:root {
	/* Backgrounds color	 */
	--background-first: hsl(0, 0%, 99%);
	--background-secundary: hsl(0, 0%, 92%);
	--background-third: hsl(0, 0%, 95%);
	/* Text color */
	--paragrap: #333333;
	--header-white: #fff;
	--header-3: #292929;
	--header-2: #1f1f1f;
	--header-1: #141414;
	/* Principal color */
	--base-100: #fdf09b;
	--base-500: #fec200;
	--base-600: #daa100;
	/* Success color */
	--success-400: #c4f489;
	--success-500: #a8ed63;
	--success-600: #83cb48;
	--success-700: #62aa31;
	--success-800: #44891f;
	--success-900: #2f7113;
	/* Danger color */
	--danger-100: #ffeadc;
	--danger-200: #ffd0b9;
	--danger-300: #ffb096;
	--danger-400: #ff927c;
	--danger-500: #ff6051;
	--danger-600: #db3b3b;
	--danger-700: #b72833;
	--danger-800: #93192d;
	--danger-900: #7a0f29;
}

body {
	background-color: var(--background-first);
	color: var(--paragrap);
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
	font-size: 36px;
	font-weight: 700;
	color: var(--header-3);
}

ul {
	padding: 0;
	margin: 0;
}

.MuiButtonBase-root.MuiIconButton-root:hover {
	background-color: rgba(0, 0, 0, 0.1);
}
.MuiButtonBase-root.MuiIconButton-root:active {
	background-color: hsla(46, 100%, 50%, 0.4);
	transition: background 0.1s ease-in-out;
}

.MuiFormControl-root.MuiTextField-root {
	width: 100%;
}
