.footer {
	background-color: var(--background-color-3);
	min-width: 100%;
}

.container_footer {
	padding: 18px;
}

.footer_container {
	display: flex;
	align-items: center;
}

.manual_link {
	font-size: 16px;
	font-weight: 700;
}
