.teethForm {
	display: flex;
	flex-direction: column;
	gap: 38px;
	margin: 38px 0;
}

.optionsTeethForm {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.teethFirstRow {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 28px;
}

.teethFirstRow_row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 18px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 12px;
}

.toothButton {
	position: relative;
	width: 75px;
	height: 75px;
}

.toothButtonNumber {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 0;
}

.toothButtonNumberOver {
	z-index: 1;
	color: #fff;
}

.toothButton .palatina {
	position: absolute;
	top: 0;
	left: 15%;
	width: 70%;
	height: 20px;
	padding: 0;
	min-width: 0;
	border-bottom-left-radius: 60%;
	border-bottom-right-radius: 60%;
}

.toothButton .mesial {
	position: absolute;
	top: 20%;
	left: 0;
	height: 60%;
	padding: 0;
	min-width: 20px;
	border-top-right-radius: 60%;
	max-width: 0;
	border-bottom-right-radius: 60%;
}

.toothButton .distal {
	position: absolute;
	right: 0;
	top: 20%;
	height: 60%;
	padding: 0;
	min-width: 20px;
	max-width: 0;
	border-bottom-left-radius: 60%;
	border-top-left-radius: 60%;
}

.toothButton .vestibular {
	position: absolute;
	left: 15%;
	bottom: 0;
	width: 70%;
	height: 20px;
	padding: 0;
	min-width: 0;
	border-top-left-radius: 60%;
	border-top-right-radius: 60%;
}

.toothButton .oclusal {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 30px;
	height: 30px;
	padding: 0;
	min-width: 0;
}

.toothState {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	font-size: 95px;
	user-select: none;
	display: none;
	line-height: 70px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: font-size 0.5s ease-in-out;
}

.toothState:hover {
	font-size: 105px;
}

.toothState.activeExtraction {
	color: red;
	display: block;
}
.toothState.activeExtracted {
	color: blue;
	display: block;
}

@media (width >= 768px) {
	.optionsTeethForm {
		flex-direction: row;
		gap: 32px;
	}
}
