.teethFirstRow {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 28px;
}

.teethFirstRow_row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 18px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 12px;
}
