.teethForm {
	display: flex;
	flex-direction: column;
	gap: 38px;
	margin: 38px 0;
}

.optionsTeethForm {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (width >= 768px) {
	.optionsTeethForm {
		flex-direction: row;
		gap: 32px;
	}
}

.teethFirstRow {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.teethFirstRow_row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}

.teethFirstRow_row:last-child,
.teethFirstRow_row:first-child {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 12px;
}

.teethFirstRow_row:last-child .row,
.teethFirstRow_row:first-child .row {
	gap: 3px;
}

.tooth_button {
	--sizeBox: 35px;
	position: relative;
	width: var(--sizeBox);
	height: var(--sizeBox);
}

.toothButtonNumber {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 0;
	font-size: 9px;
	transform: translate(-50%, -50%);
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: font-size 0.5s ease-in-out;
	color: var(--paragrap);
}

.toothButtonNumberOver {
	z-index: 1;
	color: #fff;
}

.toothState {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	font-size: 45px;
	user-select: none;
	display: none;
	line-height: 32px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: font-size 0.5s ease-in-out;
}

.toothState.activeExtraction {
	color: #e22f32;
	display: block;
}
.toothState.activeExtracted {
	color: #00A6E2;
	display: block;
}

.tooth_button .palatina {
	position: absolute;
	top: 0;
	left: 15%;
	width: 70%;
	height: 10px;
	padding: 0;
	min-width: 0;
	border-bottom-left-radius: 60%;
	border-bottom-right-radius: 60%;
}

.tooth_button .mesial {
	position: absolute;
	top: 20%;
	left: 0;
	height: 60%;
	padding: 0;
	min-width: 10px;
	border-top-right-radius: 60%;
	max-width: 0;
	border-bottom-right-radius: 60%;
}

.tooth_button .distal {
	position: absolute;
	right: 0;
	top: 20%;
	height: 60%;
	padding: 0;
	min-width: 10px;
	max-width: 0;
	border-bottom-left-radius: 60%;
	border-top-left-radius: 60%;
}

.tooth_button .vestibular {
	position: absolute;
	left: 15%;
	bottom: 0;
	width: 70%;
	height: 10px;
	padding: 0;
	min-width: 0;
	border-top-left-radius: 60%;
	border-top-right-radius: 60%;
}

.tooth_button .oclusal {
	--sizeBox: 15px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: var(--sizeBox);
	height: var(--sizeBox);
	padding: 0;
	min-width: 0;
}

@media (width >= 768px) {
	.teethFirstRow_row {
		gap: 10px;
	}

	.row,
	.teethFirstRow_row:last-child .row,
	.teethFirstRow_row:first-child .row {
		gap: 4px;
	}

	.tooth_button {
		--sizeBox: 45px;
		width: var(--sizeBox);
		height: var(--sizeBox);
	}

	.toothButtonNumber {
		font-size: 11px;
	}

	.tooth_button .vestibular,
	.tooth_button .palatina {
		height: 12px;
	}

	.tooth_button .distal,
	.tooth_button .mesial {
		min-width: 12px;
	}

	.tooth_button .oclusal {
		--sizeBox: 20px;
		width: var(--sizeBox);
		height: var(--sizeBox);
	}

	.toothState {
		font-size: 65px;
		line-height: 45px;
	}

	.toothState:hover {
		font-size: 75px;
	}
}

@media (width >= 1000px) {
	.teethFirstRow {
		display: grid;
		gap: 15px;
	}
}

@media (width >= 1024px) {
	.teethFirstRow {
		display: grid;
		gap: 15px;
	}

	.teethFirstRow_row {
		gap: 20px;
	}

	.row,
	.teethFirstRow_row:last-child .row,
	.teethFirstRow_row:first-child .row {
		gap: 12px;
	}

	.tooth_button {
		--sizeBox: 50px;
		width: var(--sizeBox);
		height: var(--sizeBox);
	}

	.toothButtonNumber {
		font-size: 12px;
	}

	.tooth_button .vestibular,
	.tooth_button .palatina {
		height: 15px;
	}

	.tooth_button .distal,
	.tooth_button .mesial {
		min-width: 15px;
	}

	.tooth_button .oclusal {
		--sizeBox: 20px;
		width: var(--sizeBox);
		height: var(--sizeBox);
	}

	.toothState {
		font-size: 65px;
		line-height: 45px;
	}

	.toothState:hover {
		font-size: 75px;
	}
}

@media (width >= 1200px) {
	.tooth_button {
		--sizeBox: 55px;
		width: var(--sizeBox);
		height: var(--sizeBox);
	}

	.toothButtonNumber {
		font-size: 15px;
	}

	.tooth_button .oclusal {
		--sizeBox: 25px;
		width: var(--sizeBox);
		height: var(--sizeBox);
	}

	.toothState {
		font-size: 72px;
		line-height: 52px;
	}

	.toothState:hover {
		font-size: 78px;
	}
}

@media (width >= 1440px) {
	.tooth_button {
		--sizeBox: 65px;
		width: var(--sizeBox);
		height: var(--sizeBox);
	}

	.toothButtonNumber {
		font-size: 18px;
	}

	.tooth_button .oclusal {
		--sizeBox: 28px;
		width: var(--sizeBox);
		height: var(--sizeBox);
	}

	.tooth_button .vestibular,
	.tooth_button .palatina {
		height: 18px;
	}

	.tooth_button .distal,
	.tooth_button .mesial {
		min-width: 18px;
	}

	.toothState {
		font-size: 80px;
		line-height: 60px;
	}

	.toothState:hover {
		font-size: 82px;
	}
}

/* 
	New Styles
*/

.teeth_table {
	padding: 0 8px;
	display: grid;
	gap: 20px;
}

.teeth_table .quadrants {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}

.teeth_table .quadrants .quadrant {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}

@media (width >= 768px) {
	.teeth_table {
		gap: 25px;
	}

	.teeth_table .quadrants {
		gap: 15px;
	}
}

.tooth_button .abutment_tooth_state {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 0;
	font-size: 9px;
	transform: translate(-50%, -50%);
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: font-size 0.5s ease-in-out;
	z-index: 3;
}

.tooth_button .abutment_tooth_state.abutment_tooth {
	border: 3px solid #8ae0ff;
	padding: 24px;
	background: #00000080;
	border-radius: 50%;
}

.tooth_button .abutment_tooth_state.false_tooth {
	width: 85%;
	height: 85%;
	background: #00000080;
	border-top: 2px solid #8ae0ff;
	border-bottom: 2px solid #8ae0ff;
}

.tooth_button .pit_fissure_sealant {
	top: 50%;
	left: 50%;
	z-index: 3;
	width: 100%;
	height: 4px;
	border: none;
	display: none;
	font-size: 9px;
	cursor: pointer;
	position: absolute;
	background-color: transparent;
	transform: translate(-50%, -50%);
	transition: font-size 0.5s ease-in-out;
}

.tooth_button .pit_fissure_sealant.sealant_tooth_red {
	background-color: #e22f32;
	display: block;
}

.tooth_button .pit_fissure_sealant.sealant_tooth_blue {
	background-color: #00A6E2;
	display: block;
}